.discountOverlay
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	background:#000;
	opacity:0;
	/* -webkit-transition: opacity 0.3s ease-in; */
	z-index:101;
}
.discountWindow
{
	position: fixed;
	top: 20%;
	right: 5%;
	margin: 0;
	border: 2px solid #bef1f4;
	width: 85%;
	height: 30vh;
	color:#e54581;
	padding:10px;
	opacity:0.5;
	z-index:102;
	background: rgba(255, 255, 255, 0.9);
	-webkit-border-radius:8px;
	-webkit-box-shadow:-1px 2px 12px rgba(50, 50, 50, 0.91);
	/* -webkit-transition: opacity 0.3s ease-in; */
}