.modalOverlay
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	background:#000;
	opacity:0;
	/* -webkit-transition: opacity 0.3s ease-in; */
	z-index:101;
}
.modalWindow
{
	float: right;
	position: fixed;
	top: 1%;
	right: 2%;
	margin: 0;
	border: 2px solid #bef1f4;
	width: 60vw;
	height: 40vh;
	text-align: left;
	word-spacing: 4px;
	line-height: 30px;
	font-size: 5vw;
	color:#e54581;
	padding:10px;
	opacity:0.5;
	z-index:102;
	background: rgba(255, 255, 255, 0.9);
	-webkit-border-radius:8px;
	-webkit-box-shadow:-1px 2px 12px rgba(50, 50, 50, 0.91);
	/* -webkit-transition: opacity 0.3s ease-in; */
}
#optioncolourbtn {
	height: 25px;
	position: fixed;
	top: 13px;
	right: 13px;
	pointer-events: initial;
}
#optionitems {
	margin-top: 6vh;
}
a {
	text-decoration: none;
}
.option {
	color: #000000;
	/* font-size: 2em; */
	line-height: 7vh;
}
#language {
	top: -7vh;
	position: relative;
	text-align: right;
	right: 1%;
	/* block-size: 0px; */
	max-height: 0vh;
}
