.popupOverlay
{
	width:100%;
	height:90%;
	position: fixed;
	top:50px;
	left:0;
	margin:0;
	padding:0;
	background:#000;
	opacity:0.5;
	/* -webkit-transition: opacity 0.3s ease-in; */
	z-index:101;
}
.popupWindow
{
	float: right;
	position: fixed;
	top: 0;
	/* left: 5vw; */
	margin: 0;
	/* border: 2px solid #bef1f4; */
	width: 100%;
	height: 100%;
	text-align: left;
	word-spacing: 4px;
	line-height: 30px;
	font-size: 5vw;
	color:#e54581;
	opacity: 1;
	z-index:102;
	background: rgba(255, 255, 255, 0.9);
	/* -webkit-border-radius:8px; */
	/* -webkit-box-shadow:-1px 2px 12px rgba(50, 50, 50, 0.91); */
	/* -webkit-transition: opacity 0.3s ease-in; */
}
.crossImage {
	position: absolute;
	width: 6vw;
	float: right;
	right: 0;
	margin-top: 1%;
	margin-right: 1%;
	z-index: 2;
}
.member-promotion-img {
	z-index: 1;
}