@font-face {
	font-family: "KozGoPr6N-Light";
	src: url("../fonts/KozGoPr6N-Light.otf") format("opentype");
}
.categorylist {
	width: 80%;
	padding: 10px;
	background: rgba(80, 211, 204, 1);
	border-radius: 10px;
}
.categoryItem{
	font-size: 16px;
	font-family: "KozGoPr6N-Light";
	color: white;
	padding: 2px 0;
	border-top-width: 1px;
	border-top-color: rgba(0, 0, 0, 0.2);
	border-top-style: solid;
	text-shadow: initial;
}
.shop-text {
	text-align: center;
	font-family: "KozGoPr6N-Light";
}

.firstCategory {
	border-top-width: 0;
}
#shopUrl {
	width: 90%;
}

.itemImg {
	margin-left: 5%;
	width: auto;
	height: auto;
	/* max-height: 30% !important; */
	max-width: 30% !important;
	min-width: 30% !important;
	margin-top: 5%;
}
.itemImg-div {
	display: inline;
}
.itemText-div {
	position: relative;
	/* float: right; */
	left: 37%;
	/* white-space: nowrap; */
	margin-top: -38%;
	margin-bottom: 20%;
	/* top: -80px; */
}
.productlist {
	z-index: 2;
	background: #FFFFFF;
}
li.productItem {
	border-bottom: 1px dotted black;
	background: #FFFFFF;
	/* min-width: 100vw !important; */
	min-height: 10% !important;
	height: 30%;
}
a.productItem {
height: inherit;
}
.productlist-text {
	text-transform: uppercase;
	font-size: 14px;
}
#brand_model {
	color: #000000;
}
#price {
	color: rgba(80, 211, 204, 1);
	font-size: 20px;
}
.main-content-productlist {
    padding: 0 5% 0 5%;
}
/* Product page setting */
#product-img-div {
	text-align: center;
	background: #FFFFFF;
	width: 100%;
}
#product-img {
	width: 50%;
}
#product-price {
	text-align: center;
	color: rgba(80, 211, 204, 1);
	font-size: 30px;
	font-weight: bold;
}
#product-brand {
	font-weight: 900;
	font-size: 1.5em;
	word-break: break-all;
}
#product-model {
	font-weight: 900;
	font-size: 1.5em;
	word-break: break-all;
}
.product-text-title {
	font-weight: 900;
	word-break: break-all;
}
.product-text {
	font-size: 1em;
	word-break: break-all;
	padding-left: 5%;
}